<!DOCTYPE hmtl>
<html lang="en"
      xmlns:th = "http://thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm sticky-top">
    <div class="container">
        <div class="d-flex align-items-center gap-3">
            <a class="navbar-brand fw-bold fs-3" href="#">GameZone</a>
<!--            <a class="btn btn-outline-primary btn-sm" th:href="@{/admin}">-->
<!--                <i class="bi bi-gear"></i> Admin-->
<!--            </a>-->
        </div>

        <div class="d-flex gap-2">
            <a class="btn btn-dark position-relative" th:href="@{/index}">
                Accueil
            </a>
            <a class="btn btn-dark position-relative" th:href="@{/cart}">
                <i class="bi bi-cart4"></i> Panier
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cart-count">
                        0
                </span>
            </a>
        </div>
    </div>
</nav>

<section layout:fragment="content"></section>

</body>
</html>